<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="viewModel" type="com.example.bot.spring.echo.ViewModel"*/-->
<head>
  <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <meta name="viewport"
        content="width=device-width, initial-scale=1,maximum-scale=1,minimum-scale=1, user-scalable=no, target-densitydpi=medium-dpi, minimal-ui" />
  <title th:text="${viewModel.getMap().getName()} + ' - LINE Group Map'" />
  <meta name="description"
        content="LINE Group Map は" />
  <style type="text/css">
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }

    #map {
      height: 100%;
    }

    a {
      color: inherit;
    }
  </style>
</head>
<body>
<div id="map"></div>
<script type="text/javascript" th:inline="javascript">
  const viewModel = [[${viewModel}]];
</script>
<script type="text/javascript">//<![CDATA[

var map;

function createMarker(location) {
  const link = $('<a target="_blank" />').attr('href', location.url.schemeSpecificPart).text(location.title);

  const infowindow = new google.maps.InfoWindow({
    content: link.prop('outerHTML')
  });

  const position = {lat: location.latitude, lng: location.longitude};
  const marker = new google.maps.Marker({
    position: position,
    map: map,
    animation: google.maps.Animation.DROP,
    title: location.title
  });

  marker.addListener('click', function () {
    infowindow.open(map, marker);
  });

  setTimeout(function () {
    infowindow.open(map, marker);
  }, 1000);

  marker.setMap(map);
}

function initMap() {
  map = new google.maps.Map(document.getElementById('map'), {
    center: {
      lat: 35.66745903817004,
      lng: 139.74235971709476
    },
    zoom: 15
  });

  var latMin = 90, latMax = -90, lngMin = 180, lngMax = -180;

  viewModel.locationList.forEach(location => {
    latMin = location.latitude < latMin ? location.latitude : latMin;
    latMax = location.latitude > latMax ? location.latitude : latMax;
    lngMin = location.longitude < lngMin ? location.longitude : lngMin;
    lngMax = location.longitude > lngMax ? location.longitude : lngMax;

    createMarker(location);
  });

  const line = new google.maps.Polyline({
    path: viewModel.locationList.map(item => {
      return {lat: item.latitude, lng: item.longitude};
    }),
    geodesic: true,
    strokeColor: '#00aa00',
    strokeOpacity: 0.9,
    strokeWeight: 10
  });

  map.fitBounds({north: latMax, south: latMin, west: lngMin, east: lngMax});
  line.setMap(map);
}

//]]></script>
<script async="async" defer="defer"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGWBuI3nBvEm0aUzw8KCF3UhlBJWjNPRA&amp;callback=initMap">
</script>
</body>
</html>
